@import './mixins_css3';

@mixin fullScreenModal() {
    position: fixed;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;

    @include translate3d(0, -100%, 0);
    @include transition(transform 0.3s cubic-bezier(0.550, 0.055, 0.675, 0.190));

    &--active {
        @include translate(0, 0);
    }
}
